.container {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 120rem;
  min-height: calc(100vh - 6rem);
  margin: 6rem auto 0;
  padding: 0 2rem;
}
